<div class="homepage-container">
  <!-- Hero Image -->
  <div class="hero-image">
    <img src="../assets/images/nalanda.png" alt="Nalanda University Building" />
  </div>

  <!-- Floating Particles Effect -->
  <div class="particles">
    <div class="particle" style="top: 30%; left: 20%; animation-duration: 5s;"></div>
    <div class="particle" style="top: 50%; left: 60%; animation-duration: 7s;"></div>
    <div class="particle" style="top: 70%; left: 80%; animation-duration: 6s;"></div>
    <div class="particle" style="top: 40%; left: 40%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 60%; left: 70%; animation-duration: 4s;"></div>
    <div class="particle" style="top: 20%; left: 90%; animation-duration: 10s;"></div>
    <div class="particle" style="top: 80%; left: 30%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 10%; left: 50%; animation-duration: 6s;"></div>
    <!-- Add more particles as needed -->
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <button class="book-now-button" (click)="goToHomePage()">Rooms</button>
    <button class="book-now-button" (click)="goToRoute()">Route</button>
    <button class="book-now-button" (click)="goToContactPage()">Contact</button>
  </div>
</div>
