<div class="path-container">
    <div class="map-blueprint">
      <div class="image-container">
        <img class="blueprint" src="../assets/images/3.png" alt="Blueprint of Nalanda Complex" />
        <div class="overlay">
          <span class="overlay-text">Blueprint</span>
        </div>
      </div>
  
      <div class="image-container">
        <img class="map" src="../assets/images/map.png" alt="Map of Nalanda Complex" />
        <div class="overlay">
          <span class="overlay-text">Map</span>
        </div>
      </div>
    </div>
    
    <div class="info-section">
      <p class="room-info">
        Finding your room at Nalanda complex can be confusing initially. But in reality it is quite simple. 
        Your room number is of the form "<span class="highlight">NX abc</span>", where X is either A, R, or C - 
        representing Academic, Rectangular, and Circular. The <span class="highlight">first digit</span> 
        represents the floor number, the <span class="highlight">second digit</span> represents the block number, 
        and the <span class="highlight">third digit</span> represents the classroom. 
        <br /><br />
        For example, <span class="highlight">NC 341</span> is located on the circular block near Subway, 
        on the third floor in the NC4 block.
      </p>
    </div>
  </div>
  